<div>
  <p ></p>
</div>
<mat-tab-group class="demo-tab-group" dynamicHeight="true">
    <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
            Login
          </ng-template>
      <div class="demo-tab-content">
        <app-login-screen></app-login-screen>
      </div>
    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
        SignUp
      </ng-template>
      <div class="demo-tab-content">
        <app-sign-up-screen></app-sign-up-screen>
      </div>  
    </mat-tab>
</mat-tab-group>