<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>Service Genie</span>
    <span class="example-spacer"></span>
   
    <a mat-button>
        <mat-icon>location_on</mat-icon>
      Select Location</a>

      <span class="spacer"></span>

    <button *ngIf="userProvider.getUser().phone.length <= 0" mat-raised-button color="primary" (click)="openTabDialog()">
        Login/SignUp
    </button>
    <button *ngIf="userProvider.getUser().phone.length > 0" mat-raised-button color="primary" >
      {{ userProvider.getUser().name }}
  </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="row" style="background-color:white;height:40px">
  <app-search></app-search>
</div>

<div class="row" style="background-color:#d3d3d3; min-height: 500px">
  <router-outlet></router-outlet>
</div>