.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .spacer {
    flex: 0.05 auto;
  }
  button {
    border-radius: 25px;
  }

  mat-toolbar {
    margin-bottom: 10px;
  }

  logo-img {
    max-width: 10px;
    max-height: 10px;
  }

  .sidebyside{
    margin-left:8%;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

