<p class="links">
    <a routerLink='/'>Home</a> >
    <a routerLink='/plumbing'>{{ service.name }} Service</a>
</p>

<div class="sidebyside">
  <mat-accordion>  
    <mat-expansion-panel hideToggle = "True" *ngFor="let service of sub_services">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ service.sub_service_name }}
        </mat-panel-title>

        <i class="fa fa-plus" aria-hidden="true" *ngIf = "service.sub_service_cat.length > 0"></i>
      </mat-expansion-panel-header>
      <mat-list class="listitems" dense>
        <mat-list-item role="listitem" *ngFor="let cat of service.sub_service_cat" (click)="addtoCart(cat)">
          {{ cat.cat_name }}
        </mat-list-item>
        <!--<mat-divider></mat-divider>-->
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>
</div>


<div class="sidebyside flo-card">
    <app-user-cart></app-user-cart>
</div>