<!--<h1 mat-dialog-title>Login</h1>-->
<div mat-dialog-content class="example-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="userDetails.phone" name = "phone" placeholder="Phone">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="userDetails.password" name="password" type="password" placeholder="Password">
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions layout-align="end center">
  <button mat-button tabindex="2" (click)="login()">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1" >Close</button>
</div>

