<mat-card>
    <mat-card-title>
      Cart List
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let cartdata of userprovider.getCart()">
          <div class="sidebyside">{{ cartdata.cat_name }}</div>
          <div end (click)="userprovider.ClearCart(cartdata)">X</div>
          <!-- <div class="sidebyside">Min 300 Rs</div> -->
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="userprovider.ClearCartAll()">Clear</button>
      <button mat-raised-button color="primary" (click)="userprovider.requestService()">Request Service</button>
    </mat-card-actions>
</mat-card>